<div class="layui-layout layui-layout-admin" style="padding-left: 20px;">
    <div class="layui-row" style="margin-top: 20px;">
        <div class="layui-col-xs6">
            <div class="layui-btn-group">
            {{if .IsChecker}}
                <button class="layui-btn " id="commit_check_data">提交记录</button>
                <button class="layui-btn " id="delete_check_data">删除记录</button>
            {{end}}
                <button class="layui-btn " id="revert_check_data">撤销修改</button>
            </div>
        </div>
    </div>

    <table class="layui-hide" id="table_list" lay-filter="table_filter">
    </table>

    <script type="text/html" id="bar">
        <a class="layui-btn layui-btn-xs" lay-event="detail">详细</a>
    </script>
</div>

<script>
    layui.use(['table'], function () {
        var table = layui.table;
        var layer = layui.layer;
        var $ = layui.$;

        var loaded;

        function openLoading(elemId, layer) {
            $(elemId).disabled = true;
            loaded = layer.load(1);
        }

        function closeLoading(elemId, layer) {
            $(elemId).disabled = false;
            layer.close(loaded);
        }

        //方法级渲染
        table.render({
            elem: '#table_list'
            , url: '/check/table'
            , cols: [[
                {checkbox: true, fixed: true}
                , {field: 'modify_id', title: '修改ID', width: '10%'}
                , {field: 'modify_date', title: '修改时间', width: '10%', sort: true}
                , {field: 'modify_admin', title: '修改人 - 联系方式', width: '20%'}
                , {field: 'data_id', title: '数据ID', width: '15%'}
                , {field: 'data_type', title: '数据类型'}
                , {field: 'data_operate', title: '数据操作'}
                , {field: 'status_flag_text', title: '状态', align: 'center'}
                , {fixed: 'right', width: '10%', align: 'center', toolbar: '#bar'}
            ]]
            , id: 'listReload'
            , page: true
            , limit: 20
            , height: "full-130"
            , loading: true
        });

        $('#commit_check_data').on('click', function () {
            var checkStatus = table.checkStatus('listReload');
            var checkData = checkStatus["data"];
            var ids = "";
            var elemId = "#commit_check_data";

            if (checkData.length > 0) {
                openLoading(elemId, layer);

                for (var vs in checkData) {
                    //check
                    if (checkData[vs].status_flag !== 0) {
                        closeLoading(elemId, layer);
                        layer.msg("只能提交待提交状态的数据", {icon: 2, anim: 6});
                        return false;
                    }
                    ids += checkData[vs].modify_id + ","
                }

                $.post("/check/commit", {ids: ids}, function (out) {
                    closeLoading(elemId, layer);

                    if (out.status === 0) {
                        layer.msg("操作成功", {icon: 1, time: 2000}, function () {
                            table.reload('listReload')
                        })
                    } else {
                        layer.msg(out.message)
                    }
                }, "json");
            } else {
                layer.msg("请选择数据", {time: 1000});
            }
        });

        $('#revert_check_data').on('click', function () {
            var checkStatus = table.checkStatus('listReload');
            var checkData = checkStatus["data"];
            var ids = "";
            var elemId = "#revert_check_data";

            if (checkData.length > 0) {
                openLoading(elemId, layer);

                for (var vs in checkData) {
                    //check
                    if (checkData[vs].status_flag !== 0) {
                        closeLoading(elemId, layer);
                        layer.msg("只能撤销待提交状态的数据", {icon: 2, anim: 6});
                        return false;
                    }
                    ids += checkData[vs].modify_id + ","
                }

                $.post("/check/revert", {ids: ids}, function (out) {
                    closeLoading(elemId, layer);
                    if (out.status === 0) {
                        layer.msg("操作成功", {icon: 1, time: 2000}, function () {
                            table.reload('listReload')
                        })
                    } else {
                        layer.msg(out.message)
                    }
                }, "json");
            } else {
                layer.msg("请选择数据", {time: 1000});
            }
        });

        $('#delete_check_data').on('click', function () {
            var checkStatus = table.checkStatus('listReload');
            var checkData = checkStatus["data"];
            var ids = "";
            var elemId = "#delete_check_data";

            if (checkData.length > 0) {
                openLoading(elemId, layer);

                for (var vs in checkData) {
                    //check
                    if (checkData[vs].status_flag !== 1 && checkData[vs].status_flag !== 2) {
                        closeLoading(elemId, layer);

                        layer.msg("请选择状态为已提交或已撤销的数据", {icon: 2, anim: 6});
                        return false;
                    }

                    ids += checkData[vs].modify_id + ","
                }

                $.post("/check/delete", {ids: ids}, function (out) {
                    closeLoading(elemId, layer);

                    if (out.status === 0) {
                        layer.msg("操作成功", {icon: 1, time: 2000}, function () {
                            table.reload('listReload')
                        })
                    } else {
                        layer.msg(out.message)
                    }
                }, "json");
            } else {
                layer.msg("请选择数据", {time: 1000});
            }
        });

        table.on('tool(table_filter)', function (obj) {
            var data = obj.data;
            if (obj.event === 'detail') {
                $.get('/check/detail', {modify_id: data.modify_id}, function (str) {
                    layer.open({
                        area: '1000px',
                        anim: 5,
                        type: 1,
                        title: "操作记录",
                        content: str
                    });
                });
            } else {
                layer.msg('操作不存在');
            }
        });
    });

</script>
