<div class="layui-layout layui-layout-admin" style="padding-left: 20px;">
    <div class="layui-row" style="margin-top: 20px;">
        <div class="search_text">
            <form class="layui-form" action="" onsubmit="javascript:return false;">
                <div class="layui-inline" style="width: 30%">
                    <input class="layui-input" name="PaperName" id="q" autocomplete="off" placeholder="用户名称或手机号">
                </div>
                <button class="layui-btn" data-type="reload" id="reload">查询</button>
            </form>
        </div>
    </div>

    <table class="layui-hide" id="table_list" lay-filter="table_filter">
    </table>

    <script type="text/html" id="bar">
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </script>
</div>
<script>
    layui.use(['table', 'form', 'element'], function () {
        var table = layui.table;
        var form = layui.form;
        var element = layui.element;
        var $ = layui.$;

        //方法级渲染
        table.render({
            elem: '#table_list'
            , url: '/user/table'
            , cols: [[
                {field: 'phone', title: '手机号码', width: '15%'}
                , {field: 'username', title: '用户名', width: '15%'}
                , {field: 'address', title: '地址', width: '15%'}
                , {field: 'school', title: '学校', width: '15%'}
                , {field: 'register', title: '注册时间', sort: true}
            ]]
            , id: 'listReload'
            , page: true
            , limit: 20
            , height: "full-130"
            , loading: true
        });

        $('#add_paper').on('click', function () {
            window.location.href = "/paper/addpaper"
        });

        $('.demoTable .layui-btn').on('click', function () {
            table.reload('listReload', {
                where: {
                    q: $("#q").val()
                    , sort: 0
                }
            });
        });

        layui.use(['form', 'layedit', 'laydate','element','jquery'], function() {
            var form = layui.form,
            layer = layui.layer,
            element=layui.element,
            $=layui.jquery;
            $(document).on('click','#reload',function(){
                table.reload('listReload', {
                where: {
                    q: $("#q").val()
                    , sort: 0
                }
                });
            });
        });

        table.on('sort(table_filter)', function (obj) {
            sortX = 0;
            if (obj.type === 'asc') {
                sortX = 1;
            }

            if ($('#q').val()) {
                table.reload('listReload', {
                    initSort: obj
                    , where: {
                        sort: sortX,
                        q: $('#q').val()
                    }
                });
            } else {
                table.reload('listReload', {
                    initSort: obj
                    , where: {
                        sort: sortX
                    }
                });
            }
        });

        //监听工具条
        table.on('tool(table_filter)', function (obj) {
            var data = obj.data;
            if (obj.event === 'edit') {
                window.location.href = "/paper/detail?paper_id=" + data.paper_id
            } else if (obj.event === 'del') {
                var msg = "你确定要删除这张卷子？";

                layer.confirm(msg, function () {
                    var del_data = {"id": data.id}
                    layer.msg("这操作太危险，我还没想好怎么弄。", {icon: 5}, function () {
                        $("#reload").click();
                    });
                    return false;
                });
                return false;
            } else {
                layer.msg('操作不存在');
            }
        });
    });

</script>

