<style>
    .main {
        text-align: center; /*让div内部文字居中*/
        background-color: #fff;
        width: 400px;
        height: 350px;
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
</style>
<div class="main">
    <form class="layui-form">
        <div class="layui-row layui-col-space10">
            <div class="layui-col-md9">
                <input name="q" class="layui-input" autocomplete="off" lay-verify="required|number" placeholder="试题ID">
            </div>
            <div class="layui-col-md3">
                <button class="layui-btn" lay-filter="search" lay-submit>搜索一下</button>
            </div>
        </div>
    </form>
</div>

<script>
    layui.use(['form','jquery'], function () {
        var form = layui.form;

        form.on('submit(search)', function (data) {
            var field = data.field;
            window.location.href = "/question/detail?question_id=" + field["q"];
            return false;
        });

    });

</script>