<div style="margin-top: 30px">
        <div id="test-editormd-view" style="width: 80%;margin: 0 auto;" class="markdown-body editormd-html-preview">
            <textarea id="mdarea" style="display: none">
## HOW TO USE?
[TOCM]
## 1. 查看试卷使用说明

查看试卷，目前不能增加/删除试卷，但是可以编辑试卷，也可以搜索试卷，但是搜索功能不是狠强大，建议配合真题试卷的客户端一起使用，找到试卷的标题，然后复制进搜索框搜索。

![查看试卷界面截图](/static/img/help/paper_list.png)

点击编辑按钮可以进入编辑界面．

### 编辑试卷
编辑试卷详情，没什么好说的，上手就会。

### 章节详情
编辑章节详情，题目列表只是用来看看，不能改的。注意章节标题，指的是真题试卷客户端的标题部分，章节描述指的是灰色字部分。*小题个数不要随便改，改错了后果很严重。*

![章节详情界面截图](/static/img/help/chapter_detail.png)

修改完了，可以点击顶部的刷新，可以点击后退按钮后退。

![按钮](/static/img/help/shuaxin.png)

## 2. 试题模块使用说明

### 试题搜索
可以按ID或者题目内容搜索，搜不到的话，会显示一个试卷ID为0的界面。
### 试题编辑
具体说明下一些字段的编辑方式：

|  字段 |  说明 |
| ------------ | ------------ |
|试题内容|里面有些特殊的标签，不理解它的含义的话不要随便改。尽量只改改中文部分。|
|试题解析|同上|
|试题分数|分数支持小数，但是不要设置1.3分这种变态的分数。|
|试题类型|只有客观填空题和主观填空题可以互换类型，而且也不能随便换，可能换了这道题目就GG了，**最好不要动它。**|
|试题难度|暂时不知道怎么算出来的|
|试题选项|选择题有|
|试题答案|没什么好说的，不同类型题目的答案格式不一样，你改错了会有提示，但是没提示不代表改对了。（⊙﹏⊙‖）|

## 3. TimeMachine
> 看完上面的介绍是否已经有点紧张，没关系！这里售卖后悔药。

再怎么改，目前都是在测试环境中修改，就算数据改错了，改回来就是了。每按一次修改按钮，并且成功将数据写入数据库，就会生成一条修改记录，你可以审核/删除/撤销该记录。
只有审核通过，提交到正式环境下，才算真正修改完成了。

            </textarea>
        </div>
</div>

{{template "public/editormd_show.html" .}}

