<div style="margin-top: 30px">
        <div id="test-editormd-view" style="width: 80%;margin: 0 auto;" class="markdown-body editormd-html-preview">
            <textarea id="mdarea" style="display: none">
## HOW TO USE? （使用前必读）
[TOCM]

## 权限管理

本系统把用户分成两大类，数据人员和审核人员。其拥有的权限如下：

|  角色 | 拥有权限 | 没有的权限 |
| ------------ | ------------ |
|数据人员|查看、增添数据；新建数据人员帐号；|提交自己修改的数据；新建审核人员帐号；|
|审核人员|查看、审核数据；提交数据；新建审核人员帐号；|查看、审核数据；新建数据人员帐号；|
|总舵主|系统的超级管理员，有且只有一个。|无|

将数据编辑和数据审核分离，有助于保护线上数据安全。同时权限分散可以减少工作量，数据员专注于数据的修复工作，审核员保证数据的正确性。
            </textarea>
        </div>
</div>

{{template "public/editormd_show.html" .}}

