<div class="layui-layout layui-layout-admin" style="padding-left: 20px;">
    <form class="layui-form">
        <div class="layui-form-item" style="margin-top: 20px;">
            <label class="layui-form-label">标签名称</label>
            <div class="layui-input-block">
                <input type="text" id="name" name="name" placeholder="最大标签名为4个字" class="layui-input"
                    lay-verify="required" maxlength="4">
            </div>
        </div>
        <div class="layui-form-item" style="margin-top: 20px;">
            <label class="layui-form-label">标签图标</label>
            <input type="file" id="icon_upload" name="icon_upload" placeholder=""
                style="margin-left:30px;margin-top:10px">
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">标签类型</label>
            <div class="layui-input-block">
                <input type="radio" name="type" value="0" title="正文标签" lay-filter="encrypt">
                <input type="radio" name="type" value="1" title="外链标签" lay-filter="encrypt" checked>
            </div>
        </div>
        <div class="layui-form-item" style="margin-top: 20px;" id="url-box">
            <label class="layui-form-label">外链地址</label>
            <div class="layui-input-block">
                <input type="text" id="urlcontent" name="urlcontent" placeholder="" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item" style="margin-top: 20px;" id="content-box">
            <label class="layui-form-label">正文内容</label>
            <div class='layui-input-block' id="content-box-main">

            </div>
        </div>
        <button class="layui-btn" lay-submit="" lay-filter="none" id="addcontent-main"
            style="margin-left:30px;margin-top:20px">添加(正文)</button>
        <button class="layui-btn" lay-submit="" lay-filter="none" id="addcontent-icon"
            style="margin-left:30px;margin-top:20px">添加(图片)</button>
        <button class="layui-btn" id="add" lay-submit="" lay-filter="addTag"
            style="margin-left:30px;margin-top:20px">确定添加</button>
    </form>

</div>
<script>
    layui.use(['table', 'form', 'element', 'upload'], function () {
        var table = layui.table;
        var form = layui.form;
        var element = layui.element;
        var $ = layui.$;
        var upload = layui.upload;

        var typeIndex = 2

        $("#content-box").hide();
        $("#addcontent-icon").hide();
        $("#addcontent-main").hide();

        var filearr = [];
        var contentFileArr = new Array(100)
        var contentMainArr = new Array(100)
        var file = document.getElementById('icon_upload');

        var contentType = [];
        var contentCount = 0;

        file.onchange = function () {
            var files = this.files;
            for (var i = 0; i < files.length; i++) {
                filearr.push(files[i]);
            }
        }

        var contentBox = document.getElementById("content-box-main");
        var contentHtml = ""

        $('#addcontent-icon').on('click', function () {
            contentHtml = contentHtml + "<input type='file' id='card" + contentCount + "' name='card" + contentCount + "' style='margin-left:30px;margin-top:10px;width:100%'>"
            contentBox.innerHTML = contentHtml

            var file = document.getElementById('card'+contentCount);
            index = contentCount
            file.onchange = function () {
                var files = this.files;
                if (files.length > 0) {
                    contentFileArr[index] = files[0]
                }
            }
            contentType.push(1)
            contentCount = contentCount + 1
            return false
        });

        $('#addcontent-main').on('click', function () {
            contentHtml = contentHtml + "<input type='text' id='main" + contentCount + "' name='main" + contentCount + "' style='margin-left:30px;margin-top:10px;width:100%;'>"
            contentBox.innerHTML = contentHtml
            contentCount = contentCount + 1
            contentType.push(2)
            return false
        });

        form.on('submit(addTag)', function (data) {
            var form_data = data.field;

            if (form_data.name == "") {
                alert("标签名称不能为空")
                return false
            }

            if (!filearr[0]) {
                alert("标签图标不能为空")
                return false
            }

            var formData = new FormData();
            formData.append("name", form_data.name)
            formData.append("icon", filearr[0])
            formData.append("type", typeIndex)
            formData.append("count", contentCount)
            formData.append("url", form_data.urlcontent)

            for (var i = 0; i < contentCount; i++) {
                if (contentType[i] == 1) {
                    formData.append("content" + i, contentFileArr[i])
                } else {
                    formData.append("content" + i, $("#main" + i).val())
                }
            }

            $.ajax({
                url: '/homepage/addhomeshow',
                type: 'post',
                data: formData,
                processData: false,
                mimeType: "multipart/form-data",
                contentType: false,
                success: function (data) {
                    var obj = JSON.parse(data);
                    if (obj.status == 0) {
                        layer.msg("操作成功", { icon: 1, time: 2000 }, function () {
                            // 跳转到列表页
                            window.location.href = "/homepage/list";
                        })
                    } else {
                        layer.msg(obj.message)
                    }
                },
            });

            function convertImgToDataURLviaCanvas(url, callback) {
                var img = new Image();
                img.src = url
                img.crossOrigin = 'Anonymous';
                img.onload = function () {
                    var canvas = document.createElement('CANVAS');
                    var ctx = canvas.getContext('2d');
                    var dataURL;
                    canvas.height = this.height;
                    canvas.width = this.width;
                    ctx.drawImage(this, 0, 0);
                    dataURL = canvas.toDataURL("image/jpeg");
                    callback(dataURL);
                    canvas = null;
                };
            }

            function compress(img, Orientation) {
                let canvas = document.createElement("canvas");
                let ctx = canvas.getContext('2d');
                //瓦片canvas  
                let tCanvas = document.createElement("canvas");
                let tctx = tCanvas.getContext("2d");
                let initSize = img.src.length;
                let width = img.width;
                let height = img.height;
                //如果图片大于四百万像素，计算压缩比并将大小压至400万以下  
                let ratio;
                if ((ratio = width * height / 4000000) > 1) {
                    console.log("大于400万像素")
                    ratio = Math.sqrt(ratio);
                    width /= ratio;
                    height /= ratio;
                } else {
                    ratio = 1;
                }
                canvas.width = width;
                canvas.height = height;
                //        铺底色  
                ctx.fillStyle = "#fff";
                ctx.fillRect(0, 0, canvas.width, canvas.height);
                //如果图片像素大于100万则使用瓦片绘制  
                let count;
                if ((count = width * height / 1000000) > 1) {
                    console.log("超过100W像素");
                    count = ~~(Math.sqrt(count) + 1); //计算要分成多少块瓦片  
                    //            计算每块瓦片的宽和高  
                    let nw = ~~(width / count);
                    let nh = ~~(height / count);
                    tCanvas.width = nw;
                    tCanvas.height = nh;
                    for (let i = 0; i < count; i++) {
                        for (let j = 0; j < count; j++) {
                            tctx.drawImage(img, i * nw * ratio, j * nh * ratio, nw * ratio, nh * ratio, 0, 0, nw, nh);
                            ctx.drawImage(tCanvas, i * nw, j * nh, nw, nh);
                        }
                    }
                } else {
                    ctx.drawImage(img, 0, 0, width, height);
                }
                //进行最小压缩  
                let ndata = canvas.toDataURL('image/jpeg', 0.3);
                tCanvas.width = tCanvas.height = canvas.width = canvas.height = 0;
                return ndata;
            }

            return false;
        });

        form.on('radio(encrypt)', function (data) {
            if (data.value == 0) {
                typeIndex = 1
                $("#url-box").hide();
                $("#content-box").show();
                $("#addcontent-icon").show();
                $("#addcontent-main").show();
            } else if (data.value == 1) {
                typeIndex = 2
                $("#url-box").show();
                $("#content-box").hide();
                $("#addcontent-icon").hide();
                $("#addcontent-main").hide();
            }
        });
    });
</script>